@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.ts";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-bg: hsl(235, 19%, 13%);
  --color-bg-2: hsl(235, 19%, 18%);
  --color-sidebar: hsl(235, 19%, 10%);
  --color-fg: hsl(235, 19%, 90%);
  --color-muted: hsl(235, 19%, 59%);
  --color-border: hsl(235, 19%, 25%);
  --color-brand: hsl(263deg, 32.54%, 68.64%);
  --color-danger: hsl(349deg, 83%, 59%);
  --color-code-bg: hsl(235deg, 21.28%, 16.32%);
  --color-code-header: hsl(235deg, 22.28%, 21%);
}

html, body, #root {
  @apply h-full;
}

body {
  @apply bg-bg text-fg;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
blockquote,
pre,
code,
a {
  @apply break-words;
}

*::-webkit-scrollbar {
  @apply size-2;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-bg-2 rounded-md;
}

textarea::placeholder, input::placeholder {
  @apply text-muted resize-none;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply size-0;
}

button {
  @apply cursor-pointer;
}
